// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Pact Habits colors:

$dark-blue: #1D3557;
$medium-blue: #457B9D;
$light-blue: #A8DADC;
$beige: #F1FAEE;
$soft-red: #E63946;
$pine-green: #3C6E71;

//

$background: #4e5357;
$green-custom: #35ee9b;
