.avatar-page {
  color: white;
}

.avatar-page h1, .avatar-page h3 {
  text-align: center;
  font-weight: bold;
}

.resume {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #E7ECEF;
  border-radius: 17px;
  box-shadow: 4px 0 9px #1D3557;
}

.resume-details {
  margin-left: 1em;
}

.resume-details > p:first-child {
  font-weight: bold;
}

.xp {
  height: 50px;
}

.xp-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  line-height: 0.6em;
  margin-bottom: 0.5em;
}

.xp-bar {
  height: 20px;
  border: 1px solid;
}

.my-badges {
  display: flex;
  height: 150px;
  border: 1px solid black;
}

.update-avatar, .tournament, .see-ranking {
  text-align: center;
}

.hide {
  opacity: 0;
}

.stats {
  height: 400px;
  padding: 1em;
  position: relative;
  background-color: $medium-blue;
  color: white;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;
}

.inner-grid-2c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 330px;
}

.skills {
  height: 300px;
  padding: 1em;
  position: relative;
  background-color: $medium-blue;
  color: white;
}

.skill {
  display: flex;
  align-items: center;
}

.skill-slot {
  display: flex;
  align-items: center;
  color: red;
}

.inner-grid-2c-3l {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 230px;
}

.items {
  height: 230px;
  text-align: center;
  padding: 1em;
  position: relative;
  background-color: $medium-blue;
  color: white;

  em {
    display: block;
  }
}

.info-bubble {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 1.7em;
}

.increment-btn {
  font-size: 1.5em;
  color: $beige;
}

.new-skill-btn {
  font-size: 1.5em;
  color: $beige;
  margin-left: 1em;
}

.offcanvas-body p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0em;
  line-height: 32px;
}

.offcanvas-body p:nth-child(even) {
  background-color: #c6c6c657;
}

.decrement-btn {
  color: $beige;
}
