h1 {
  text-align: center;
  font-weight: bold;
}

.resume {
  height: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 1em;
}

.resume-details {
  margin-left: 1em;
}

.xp {
  height: 50px;
  border: 1px solid black;
}

.stats {
  height: 150px;
  border: 1px solid black;
}

.abilities {
  height: 150px;
  border: 1px solid black;
}

.items {
  height: 150px;
  border: 1px solid black;
}
