h4 {
  margin-left: 2em;
  color: #4ECDC4;
  margin-block: 1em;

  i {
    margin-right: 5px;
  }
}


.challenge-card-xp {
  padding: 1em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  box-shadow: 4px 0 16px #46464652;
  font-size: 1.2em;
  color: rgba(225, 43, 43, 0.77);
}

.challenge-card-category-xp {
  color: #FFD700;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.challenge-card-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challenge-card-friends {
  display: flex;
  right: 0;
  align-items: center;

  div:first-child {
    z-index: 1;
  }
}

.challenge-friend-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
}

.avatar-picture-small {
  border-radius: 50%;
  border: 2px solid white;
}

.friend-ongoing {

}

.friend-achieved {
  background-color: #ecdf1e;
  color: white;
}

#offcanvas-custom-submit {
  text-transform: none;
}

.offcanvas-body .beneficiary-item {
  padding: 10px;
  height: 130px !important;
  width: 130px;
  border-radius: 50%;

  span {
    font-size: 1.1em;
  }
}
