.challenge-card-xp {
  padding: 1em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  box-shadow: 4px 0 16px #46464652;
  font-size: 1.2em;
  color: rgba(225, 43, 43, 0.77);
}

.challenge-card-friends {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
}

.challenge-friend-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
}

.friend-ongoing {

}

.friend-achieved {
  background-color: #ecdf1e;
  color: white;
}
