.avatar-bio {
  margin-top: 7px;
  margin-left: 7px;
}

.avatar-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.avatar-nickname {
  color: #4ECDC4;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}

.link-to-avatar-page {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.dashboard-avatar {
  position: relative;
  height: 250px;
  padding: 20px;
  background-color: #333B4B;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.section-title {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.avatar-profile {
  height: auto;
  display: flex;
  align-items: flex-start;
}

.avatar-picture {
  // border: 6px solid #4ECDC4;
  border-radius: 50%;
}

.circle-xp-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vmin !important;
  height: 23vmin !important;
  margin-bottom: 0 !important;
}

.avatar-status {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.avatar-level {
  // height: 50px;
  // align-self: end;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  color: #A6ACBA;
  font-size: 18px;
}

.avatar-image {
  border: 1px solid #4ECDC4;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.avatar-xp-bar {
  height: 14px;
  border: 1px solid black;
  width: 120px;
}

.xp-bar-progression {
  height: 100%;
  background-color: #10CC61;
}

.avatar-badges {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.key-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.key-figure {
  text-align: center;
}

.key-figure-number {
  font-size: 32px;
  font-weight: bold;
  color: #4ECDC4;
}

.key-figure-label {
  font-size: 16px;
  color: #A6ACBA;
}


// .ongoing-pacts {

// }

// .achieved-pacts {

// }

// .failed-pacts {

// }
