.link-to-avatar-page {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.dashboard-avatar {
  position: relative;
  height: 150px;
  border: 1px solid black;
  padding: 1em;
}

.section-title {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.avatar-profile {
  height: 60px;
  display: flex;
  // justify-content: flex-start;
}

.avatar-picture {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
}

.avatar-nickname {
  margin-bottom: 0;
  height: 60px;
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.avatar-status {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.avatar-level {
  height: 50px;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.avatar-level-text {

}

.avatar-xp-bar {
  height: 14px;
  border: 1px solid black;
  width: 120px;
}

.xp-bar-progression {
  height: 100%;
  width: 82%;
  background-color: black;
}

.avatar-badges {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

// .ongoing-pacts {

// }

// .achieved-pacts {

// }

// .failed-pacts {

// }
