.dashboard-avatar {
  height: 150px;
  border: 1px solid black;
}

.section-title {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.ongoing-pacts {

}

.achieved-pacts {

}

.failed-pacts {

}
