<div class="date-group">
  <h3>Challenges</h3>
  <% @challenges.each do |challenge| %>
  <div class="grid-container">
    <%= render partial: "challenge_card", locals: { challenge: challenge, clickable: true } %>
  <% end %>
  </div>
</div>
