<div class="date-group">
  <h3>Challenges</h3>
  <% if @challenges_1w.count.positive? %>
    <h4><i class="fa-solid fa-hourglass-start"></i> 1 week</h4>
    <div class="grid-container">
      <% @challenges_1w.each do |challenge| %>
        <%= render partial: "challenge_card", locals: { challenge: challenge, clickable: true } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="date-group">
  <% if @challenges_2w.count.positive? %>
    <h4><i class="fa-solid fa-hourglass-start"></i> 2 weeks</h4>
    <div class="grid-container">
      <% @challenges_2w.each do |challenge| %>
        <%= render partial: "challenge_card", locals: { challenge: challenge, clickable: true } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="date-group">
  <% if @challenges_3w.count.positive? %>
    <h4><i class="fa-solid fa-hourglass-start"></i> 3 weeks</h4>
    <div class="grid-container">
      <% @challenges_3w.each do |challenge| %>
        <%= render partial: "challenge_card", locals: { challenge: challenge, clickable: true } %>
      <% end %>
    </div>
  <% end %>
</div>
