.badge-card {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 4px 0 12px #c8c8c852;
  color: white;
  background: #737b6bbd;
}

.my-badges {
  display: flex;
  height: 150px;
  border: 1px solid black;
}

.launch-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.badge-card.claimable {
  position: relative;
  background: #39f039;
  animation: .5s ease-in-out .5s infinite alternate stand-out
}

.badge-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.badge-details {
  font-weight: bold;
}

.badge-status {
  font-size: 1.6em;
  margin-right: 1em;
}

.custom-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  text-align: center;
  background: white;
  border: 1px solid black;
  padding: 1em;
}

.modal-badge {
  width: 340px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-badge-icon {
  font-size: 7em;
  color: red;
  animation: 2s linear .01s infinite spin
}

@keyframes stand-out {
  from {
    box-shadow: 4px 0 10px #ca8d3d;
  }
  to {
    box-shadow: none;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
