.pact-card {
  padding: 1em;
  background-color: $dark-blue;
  border-radius: 10px;
  color: white;
  box-shadow: 4px 0 12px #c8c8c852;
  position: relative;
}

.pact-clickable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pact-card-top {
  display: flex;
  justify-content: space-between;
}

.pact-card-details {
  h3 {
    font-weight: bold;
  }
}

.pact-card-bet {
  // align-self: center;    // => add if bet in center of pact-card-TOP
  padding: 1em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $medium-blue;
  font-size: 1.7em;
  font-weight: bold;
  box-shadow: 4px 0 16px #46464652;
  position: relative;

  .pact-status {
    position: absolute;
    top: -3px;
    right: -2px;
    color: black;
  }
}

.pact-card-bottom {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    color: #007be5;
    font-weight: bold;
    border: none;
    box-shadow: 4px 0 16px #46464652;
  }
  .bottom-timer {
    position: absolute;
    right: 0;
  }
}

.weekdays {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekday-circle {
  text-align: center;
  border: 1px solid #CED4DA;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #B0B0B0;
  color: white;
  font-weight: bold;
}
.weekday-circle.weekday-selected {
  background-color: $light-blue;
  color: $dark-blue;
}

.challenge {
  background-color: $pine-green;
  .pact-card-bet {
    color: $pine-green;
  }
  input {
    color: $pine-green;
  }
}
