// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR CATEGORY PACT (STEP 1 FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

.category-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.category-item {
  flex: 1;
  border: none;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 180px;
  height: 120px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-item.grayscale {
  filter: grayscale(100%);
}

.category-item.selected {
  filter: none;
  box-shadow: 0 0 15px #1d3557;
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR DISTANCE OR DURATION INPUT (STEP 1 FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

.distance-duration-container {
  margin-top: 40px;
}

.stepper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-wrapper input {
  width: 200px;
  text-align: center;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ced4da;
}

.btn-decrement, .btn-increment {
  background-color: #457b9d;
  color: white; /* White text */
  border: none; /* No border */
  font-size: 14px; /* Larger font size */
  padding: 10px 15px; /* Larger buttons */
  border-radius: 50%;

  &:active,
  &:focus-visible,
  &:hover {
    color: white !important;
    background-color: #457b9d !important;
    border: none !important;
  }
}

.form-control {
  margin: 0 10px; /* Space between buttons and input */
}

.toggle-buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* Adjust top margin as needed */
}

.toggle-btn {
  background-color: #a8dadc; /* Default color */
  width: 70px;
  margin: 0 0.2rem; /* Adds space between buttons */
  border: none; /* Removes border */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.btn-check:checked + .toggle-btn {
  background-color: #1d3557; /* Color when selected */
  color: #fff; /* Text color for selected state */
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR NAV BUTTONS (ALL STEPS FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

.navigation-buttons {
  width: 100%; /* Full width to spread buttons across */
  position: fixed; /* This positions the buttons fixed within the viewport */
  bottom: 200px; /* Adjust this value to position the buttons higher or lower */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; /* This ensures buttons are spaced out */
  padding: 0 15px; /* Adjust padding for better spacing */
}

.hidden {
  visibility: hidden;
}

.btn-previous, .btn-next {
  padding: 0.5rem 1rem; /* Padding for larger click area */
  border-radius: 0.25rem; /* Rounded corners */
  min-width: 120px; /* Adjust this to ensure buttons have a minimum width */
}

.btn-previous {
  border: none;
  background-color: transparent;
  padding: 15px;
  color: #717376; /* Bootstrap primary color */
}

.btn-previous .fa-arrow-left-long {
  margin-right: 0.5rem; /* Spacing between icon and text */
}

.btn-previous:focus {
  color: #01193c; /* Light hover background */
}

.btn-next {
  border: none;
  background-color: #01193c; /* Purple background color */
  color: white;
  padding-left: 2rem; /* Increase left padding */
  padding-right: 2rem; /* Increase right padding */

  &:active,
  &:focus-visible,
  &:hover {
    color: white !important;
    background-color: #01193c !important;
    border: none !important;
  }
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR CALENDAR (STEP 2 FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

/* Hide the input field */
.flatpickr-input {
  display: none;
}

/* Style the container to position the calendar */
.flatpickr-calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Additional styles for the calendar itself */
.flatpickr-calendar {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flatpickr-calendar.inline {
  top: 180px;
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR WEEKDAY TOGGLE (STEP 2 FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//


.toggle-container {
  width: 100%; /* Adjust to match your container width */
  padding: 0.25rem; /* Adjust the padding around the toggle */
  display: flex;
  justify-content: center; /* Center the toggle within the container */
  align-items: center;
}

.toggle-label {
  display: flex;
  align-items: center;
  background-color: #f1faee; /* Light grey background */
  border-radius: 20px; /* Rounded corners for the toggle */
  cursor: pointer;
  position: relative;
  height: 2rem; /* Height of the entire toggle */
  width: calc(100% - 0.5rem); /* Full width minus padding */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.toggle-option {
  z-index: 1;
  flex-grow: 1;
  text-align: center; /* Center text in the toggle option area */
  line-height: 2rem; /* Align text vertically */
  transition: color 0.3s; /* Smooth text color transition */
}

.toggle-switch {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: calc(100% - 0.5rem); /* Full height minus double the top position */
  width: calc(50% - 0.5rem); /* Half width minus left position */
  background-color: #fff; /* White background for the switch */
  border-radius: 1rem; /* Rounded corners for the switch */
  transition: all 0.3s ease-in-out; /* Smooth transition for moving the switch */
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #a8dadc; /* Background color of the slider */
  border-radius: 1rem; /* Rounded corners for the slider */
}

#recurring-toggle:checked + .toggle-label .toggle-switch {
  left: calc(50% - 0.25rem); /* Move switch to the right half */
}

#recurring-toggle:checked + .toggle-label .toggle-option:first-child {
  color: #aaa; /* Lighter color text for unselected option */
}

#recurring-toggle:not(:checked) + .toggle-label .toggle-option:last-child {
  color: #aaa; /* Lighter color text for unselected option */
}


.weekday-toggle {
  /* Existing styles */
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  cursor: pointer;
  transition: background-color 0.2s;
}

.weekday-toggle.selected {
  background-color: #39ba75;
  color: white;
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR SLIDER (STEP 3 FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

/* Style for the slider container */
.slider-wrapper {
  position: relative;
  width: 100%;
  padding: 10px 0; /* Adjust padding for spacing */
}

/* Style for the range input (slider) */
.form-control-range {
  width: 100%; /* Full width */
  height: 15px; /* Slider thickness */
  background: #a8dadc; /* Background of the slider */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Partial transparency */
  -webkit-transition: .2s; /* Transition for effects */
  transition: opacity .2s;
  border-radius: 5px; /* Rounded corners */
}

/* Style for the thumb (slider handle) */
.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 25px; /* Width of the thumb */
  height: 25px; /* Height of the thumb */
  background: #457b9d; /* Thumb color */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; /* Circular thumb */
}

.form-control-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #457b9d;
  cursor: pointer;
  border-radius: 50%;
}

/* Style for displaying the value */
#betValue {
  position: absolute;
  background-color: #457b9d; /* Background color */
  color: white; /* Text color */
  padding: 2px 5px; /* Padding inside the bubble */
  border-radius: 5px; /* Rounded corners for the bubble */
  top: -30px; /* Position above the slider */
  left: 50%; /* Center the bubble */
  font-size: 22px;
  transform: translateX(-50%); /* Ensure it's centered */
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR BENEFICIARIES CARD (STEP 3 FORM) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

.beneficiary-item.selected {
  filter: none;
  box-shadow: 0 0 15px #1d3557;
}

.beneficiary-item.grayscale {
  filter: grayscale(100%);
}

.beneficiary-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.beneficiary-item {
  flex: 1;
  border: none;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 180px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//
// ! CSS FOR CONFIRMATION MESSAGE (STEP 4) //
// ---------------------------------------------------------------------------//
// ---------------------------------------------------------------------------//

.confirmation-message .highlight {
  /* Style for the highlighted parts */
  font-weight: bold;
  color: #457b9d; /* Replace with your desired color */
}

.confirmation-message {
  font-size: 16px; /* Adjust as needed */
  color: #343a40; /* Dark gray for main text */
  background-color: #f8f9fa; /* Light gray background */
  padding: 15px; /* Padding around the text */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 20px; /* Space above the confirmation message */
}

.confirmation-message .weekday-list {
  list-style-type: "-";
  margin-top: 10px; /* Space above the list */
  padding-left: 5px;
}

.confirmation-message .weekday-list li {
  color: #a8dadc; /* A different color for list items, like Bootstrap's info color */
  margin-bottom: 5px; /* Space between list items */
}

.btn-pact {
  font-size: 25px;
  border-radius: 10px;
  background: #457b9d;
  color: white;
  font-weight: 500;
  padding-inline: 1em;
}

.pact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
