////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
// ! BOTTOM NAVBAR ! //
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////

.navbar-custom .nav-item i {
  color: #A6ACBA;
  font-size: 25px;
  margin-bottom: 3px;
}

.navbar-custom .nav-link.active i {
  color: #4ECDC4;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #4ECDC4;
  text-decoration: none;
}


.navbar-custom {
  background-color: #333B4B; /* Replace with the color of your navbar background */
  box-shadow: 0 -4px 6px rgba(0,0,0,0.1); /* This adds a slight shadow to the top of the navbar */
  height: 90px; /* Set the height of the navbar */
  overflow: visible; /* Allows the plus-icon to be positioned partially outside */
}

.navbar-custom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Allows absolute positioning relative to the container */
  height: 100%; /* Ensures container takes the full height of the navbar */
}

.navbar-nav {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Adjust font size as needed */
  color: #A6ACBA; /* Replace with the color of your icon and text */
}

.add-pact {
  position: relative; /* Relative positioning for the plus-icon */
}

.add-pact .plus-icon {
  background-color: #4ECDC4;
  color: #333B4B;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 0px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}



////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
// ! TOP NAVBAR ! //
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////

.top-navbar {
  height: 70px;
  padding: 8px 0;
  background-color: #242933;
  box-shadow: 0 -4px 6px rgba(0,0,0,0.1); /* This adds a slight shadow to the top of the navbar */
}

.top-navbar .container {
  padding: 0;
}

.user-picture, .app-logo, .fa-gear {
  height: 40px;
  width: auto;
}

.user-picture {
  border-radius: 50%;
}

.navbar-logo {
  display: flex;
}

.navbar-settings .fa-gear {
  font-size: 22px;
  color: #4ECDC4;
}

.navbar-user, .navbar-logo {
  padding: 0 16px;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

body {
  padding-top: 70px; /* Equal to the height of the navbar */
}
